/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* reset */

.container-main {
    display: flex;
    flex-wrap: wrap;
}

.container-main > .cell {
    width: 10%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    border: 1px solid purple;
    background-color: rgb(255, 225, 0);
    cursor: pointer;
}

.container-main > .cell.active {
    background-color: purple;
    color: rgb(255, 225, 0);;
}